<html ng-app="myApp">
<head>
	<title>Angular UI with Google Map</title>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="/static/angular-ui-ieshiv.min.js"></script>
    <script src="/static/angular-ui.min.js"></script>
    <script src="/static/map.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/angular-ui.min.css"></link>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/map.css"></link>
	<!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives, bootstrap module directives and 
    // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
    // However, IF you have custom directives (yours or someone else's) then
    // enumerate the list of tags in window.myCustomTags
 
    window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="build/angular-ui-ieshiv.js"></script>
    <![endif]-->
</head>
<body ng-controller="MapCtrl">
  <div id="container">
    <form id="myform">
        <h1>Your Loacation Information</h1> 
        <label>Street</label>
        <input type="text" ng-model="address.street_address" ng-change="geolocate()">   
        <label>District</label>
        <input type="text" ng-model="address.sublocality" ng-change="geolocate()"> 
        <label>Town or City</label>
        <input type="text" ng-model="address.locality" ng-change="geolocate()"> 
        <label>County State or Province</label> 
        <input type="text" ng-model="address.administrative_area" ng-change="geolocate()"> 
        <label>Country</label> 
        <input type="text" ng-model="address.country" ng-change="geolocate()"> 
        <label>Postcodes</label> 
        <input type="text" ng-model="address.postal_code" ng-change="geolocate()"> 
        <label class="small">Latitude
          <span ng-bind="marker.getPosition().lat()"></span>
        </label>
                <label class="small">Longitute
          <span ng-bind="marker.getPosition().lng()"></span>
        </label>
        <label>Search</label>
        <input type="text" ng-model="search">
    </form>
  </div>    
 
  <div class="half">
    <div id="map_canvas" ui-map="myMap" class="map" ui-options="mapOptions" ui-event="{'map-click' : 'setLocation($event)'}"></div>
  </div>

</body>
</html>